#app {
    display: flex;
    height: 100vh;
}

#controls {
    width: 300px;
    padding: 20px;
    background: #f4f4f4;
    border-right: 1px solid #ccc;
}

#map {
    flex: 1;
    height: 100%;
}

button {
    margin-top: 10px;
    display: block;
}
